<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kD_Id</key>
	<string>10</string>
	<key>name</key>
	<string>liuqing</string>
	<key>display_name</key>
	<string>刘强</string>
	<key>plist</key>
	<string>Designer-Info</string>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
